@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?73bdyq');
  src:  url('../fonts/icomoon.eot?73bdyq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?73bdyq') format('truetype'),
    url('../fonts/icomoon.woff?73bdyq') format('woff'),
    url('../fonts/icomoon.svg?73bdyq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
._icon-arrow:before {
  content: "\e900";
}
._icon-phone:before {
  content: "\e901";
}
